[run]
source =
    tornado_websockets

omit =
    tornado_websockets/__init__.py
    tornado_websockets/exceptions.py
    tornado_websockets/**/__init__.py
    tornado_websockets/tests/test_*.py
    tornado_websockets/tests/app/*.py
    tornado_websockets/tests/helpers/*.py
    tornado_websockets/tests/modules/*.py